In [2]:
import pandas as pd
data = pd.read_csv("sample.csv")

In [4]:
print(data.head(2))

   order_id  customer_id customer_name product     category  quantity   price  \
0      1001          501      John Doe  Laptop  Electronics         1  1200.0
1      1002          502    Anna Smith   Phone  Electronics         2   650.5

    total        date         city  is_returned                tags
0  1200.0  2024-01-12     New York        False  ['tech','premium']
1  1301.0  2024-01-12  Los Angeles        False            ['tech']

In [8]:
data[(data["price"] > 100 ) & (data["category"] == "Electronics")]

,order_id,customer_id,customer_name,product,category,quantity,price,total,date,city,is_returned,tags
0,1001,501,John Doe,Laptop,Electronics,1,1200.00,1200.00,2024-01-12,New York,False,"['tech','premium']"
1,1002,502,Anna Smith,Phone,Electronics,2,650.50,1301.00,2024-01-12,Los Angeles,False,['tech']
2,1003,503,Bob Lee,Headphones,Electronics,1,120.99,120.99,2024-01-13,Chicago,True,['accessory']
5,1006,505,Sarah Kim,Monitor,Electronics,1,300.00,300.00,2024-01-14,San Francisco,False,['tech']
17,1018,503,Bob Lee,Camera,Electronics,1,500.00,500.00,2024-01-22,Chicago,False,"['tech','premium']"

In [14]:
data[(data["product"] == "Laptop" ) | (data["product"] == "Monitor" )]

,order_id,customer_id,customer_name,product,category,quantity,price,total,date,city,is_returned,tags
0,1001,501,John Doe,Laptop,Electronics,1,1200.0,1200.0,2024-01-12,New York,False,"['tech','premium']"
5,1006,505,Sarah Kim,Monitor,Electronics,1,300.0,300.0,2024-01-14,San Francisco,False,['tech']

In [20]:
data[(data["category"] == "Electronics" ) | (data["category"] == "Home" )]

,order_id,customer_id,customer_name,product,category,quantity,price,total,date,city,is_returned,tags
0,1001,501,John Doe,Laptop,Electronics,1,1200.00,1200.00,2024-01-12,New York,False,"['tech','premium']"
1,1002,502,Anna Smith,Phone,Electronics,2,650.50,1301.00,2024-01-12,Los Angeles,False,['tech']
2,1003,503,Bob Lee,Headphones,Electronics,1,120.99,120.99,2024-01-13,Chicago,True,['accessory']
5,1006,505,Sarah Kim,Monitor,Electronics,1,300.00,300.00,2024-01-14,San Francisco,False,['tech']
7,1008,507,Emily Clark,Keyboard,Electronics,1,89.99,89.99,2024-01-15,Seattle,True,"['office','discount']"
8,1009,503,Bob Lee,Mouse,Electronics,1,45.50,45.50,2024-01-16,Chicago,False,['office']
9,1010,508,Maria Ruiz,Coffee Maker,Home,1,99.99,99.99,2024-01-17,Dallas,False,['kitchen']
10,1011,509,Ali Mehr,Candles,Home,4,12.00,48.00,2024-01-17,San Diego,False,['decor']
11,1012,510,Olivia Sky,Desk,Home,1,150.00,150.00,2024-01-18,Denver,True,['office']
12,1013,502,Anna Smith,Phone Case,Electronics,2,20.00,40.00,2024-01-18,Los Angeles,False,"['accessory','sale']"
14,1015,511,Noah Reed,Blender,Home,1,79.99,79.99,2024-01-20,Atlanta,False,"['kitchen','discount']"
16,1017,501,John Doe,Mousepad,Electronics,1,15.00,15.00,2024-01-21,New York,False,['office']
17,1018,503,Bob Lee,Camera,Electronics,1,500.00,500.00,2024-01-22,Chicago,False,"['tech','premium']"
18,1019,513,Justin Roy,Water Bottle,Home,2,10.00,20.00,2024-01-22,Phoenix,False,['travel']

In [23]:
data.describe()

         order_id  customer_id   quantity        price        total
count    20.00000    20.000000  20.000000    20.000000    20.000000
mean   1010.50000   506.050000   1.650000   184.448000   233.273000
std       5.91608     4.248529   1.136708   292.370204   366.400168
min    1001.00000   501.000000   1.000000    10.000000    15.000000
25%    1005.75000   502.750000   1.000000    35.000000    49.500000
50%    1010.50000   505.500000   1.000000    79.995000    84.995000
75%    1015.25000   509.250000   2.000000   150.000000   172.500000
max    1020.00000   514.000000   5.000000  1200.000000  1301.000000

In [24]:
data.columns

Index(['order_id', 'customer_id', 'customer_name', 'product', 'category',
       'quantity', 'price', 'total', 'date', 'city', 'is_returned', 'tags'],
      dtype='object')

In [34]:
data[(data["customer_name"].str.startswith("Bob"))]

,order_id,customer_id,customer_name,product,category,quantity,price,total,date,city,is_returned,tags
2,1003,503,Bob Lee,Headphones,Electronics,1,120.99,120.99,2024-01-13,Chicago,True,['accessory']
8,1009,503,Bob Lee,Mouse,Electronics,1,45.50,45.50,2024-01-16,Chicago,False,['office']
17,1018,503,Bob Lee,Camera,Electronics,1,500.00,500.00,2024-01-22,Chicago,False,"['tech','premium']"

In [46]:
data[data["product"].isin(["Mouse"])]

,order_id,customer_id,customer_name,product,category,quantity,price,total,date,city,is_returned,tags
8,1009,503,Bob Lee,Mouse,Electronics,1,45.5,45.5,2024-01-16,Chicago,False,['office']

In [55]:
data.iloc[10]["product"]

'Candles'

In [62]:
data.loc[data["customer_name"] == "Bob Lee"]

,order_id,customer_id,customer_name,product,category,quantity,price,total,date,city,is_returned,tags
2,1003,503,Bob Lee,Headphones,Electronics,1,120.99,120.99,2024-01-13,Chicago,True,['accessory']
8,1009,503,Bob Lee,Mouse,Electronics,1,45.50,45.50,2024-01-16,Chicago,False,['office']
17,1018,503,Bob Lee,Camera,Electronics,1,500.00,500.00,2024-01-22,Chicago,False,"['tech','premium']"

In [67]:
data.loc[(data["customer_name"] == "Bob Lee") & (data["product"] == "Mouse"), "product"] = "RaspberryPi"
data.loc[(data["customer_name"] == "Bob Lee")]

,order_id,customer_id,customer_name,product,category,quantity,price,total,date,city,is_returned,tags
2,1003,503,Bob Lee,Headphones,Electronics,1,120.99,120.99,2024-01-13,Chicago,True,['accessory']
8,1009,503,Bob Lee,RaspberryPi,Electronics,1,45.50,45.50,2024-01-16,Chicago,False,['office']
17,1018,503,Bob Lee,Camera,Electronics,1,500.00,500.00,2024-01-22,Chicago,False,"['tech','premium']"

In [70]:
data["city"] = data["city"].str.upper()
data["city"].tail()

15      BOSTON
16    NEW YORK
17     CHICAGO
18     PHOENIX
19     DETROIT
Name: city, dtype: object

In [82]:
data.groupby("city").get_group("NEW YORK")

,order_id,customer_id,customer_name,product,category,quantity,price,total,date,city,is_returned,tags
0,1001,501,John Doe,Laptop,Electronics,1,1200.0,1200.0,2024-01-12,NEW YORK,False,"['tech','premium']"
4,1005,501,John Doe,Backpack,Fashion,1,50.0,50.0,2024-01-14,NEW YORK,False,['travel']
16,1017,501,John Doe,Mousepad,Electronics,1,15.0,15.0,2024-01-21,NEW YORK,False,['office']

In [83]:
data.groupby("city").groups.keys()

dict_keys(['ATLANTA', 'BOSTON', 'CHICAGO', 'DALLAS', 'DENVER', 'DETROIT', 'HOUSTON', 'LOS ANGELES', 'MIAMI', 'NEW YORK', 'PHOENIX', 'SAN DIEGO', 'SAN FRANCISCO', 'SEATTLE'])

In [86]:
data.sort_values("price", ascending=False).tail()

,order_id,customer_id,customer_name,product,category,quantity,price,total,date,city,is_returned,tags
12,1013,502,Anna Smith,Phone Case,Electronics,2,20.0,40.0,2024-01-18,LOS ANGELES,False,"['accessory','sale']"
6,1007,506,Tom Hall,T-shirt,Fashion,5,15.0,75.0,2024-01-15,MIAMI,False,['sale']
16,1017,501,John Doe,Mousepad,Electronics,1,15.0,15.0,2024-01-21,NEW YORK,False,['office']
10,1011,509,Ali Mehr,Candles,Home,4,12.0,48.0,2024-01-17,SAN DIEGO,False,['decor']
18,1019,513,Justin Roy,Water Bottle,Home,2,10.0,20.0,2024-01-22,PHOENIX,False,['travel']